@{
    ViewBag.Title = "About";
}

<div class="page-header">
    <h1>About</h1>
</div>

<p><b>IMPORTANT:</b> CapSavvInator is currently broken.  TekSavvy will need to make a change before this site can display your usage information.  I've submitted an informal request via DSLr, so hopefully they'll respond in the near future.</p>
<p>I plan to support the same ISPs that CapSavvy supports, but haven't started on any of the others yet.</p>
<hr />
<p>CapSavvInator was inspired by (and referenced code from) <a href="http://www.dslreports.com/forum/r29128976-CapSavvy-v4.3-released-" target="_blank">CapSavvy</a>.</p>
<p>It was also inspired by the douche-nozzle on DSLr that wrote an Android checker by referencing the CapSavvy code -- not in itself a bad thing, that's what I'm doing here after all, but you'll A) notice a distinct lack of ads on this site, and B) can view the source to this site -- two things you can't say about the douchey Android app.</p>
