@{
    ViewBag.Title = "About CapSavvInator";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<p>
    CapSavvInator is a modified version of <a href="http://www.dslreports.com/forum/r29128976-CapSavvy-v4.3-released-" target="_blank">CapSavvy</a>,
    which is described by the author as "a tool that can retrieve your data transfer usage from most independent ISPs and display it in your system tray".
</p>
<p>
    The main purpose of this tool is to provide easy access to your actual and predicted usage data from mobile devices, since they currently don't have
    anything like CapSavvy available (EDIT: There are now some usage checkers available, but they're not available for all devices, and some actually
    cost money even though they're based on code found in the free and open-source CapSavvy!)
</p>
<p>
    ISPs currently supported by CapSavvy (and hence CapSavvInator) are:
    <ul>
        <li>Caneris</li>
        <li>Electronicbox</li>
        <li>Start</li>
        <li>TekSavvy</li>
        <li>Videotron</li>
    </ul>
</p>
<p>
    <a href="https://github.com/rickparrish/CapSavvInator" target="_blank">Check out the source on GitHub!</a>
</p>