@{
    ViewBag.Title = "Contact";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<p>If you need to get a hold of me, <a target="_blank" href="https://www.randm.ca/contact">try my R&amp;M contact form</a>.</p>