@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h1>CapSavvInator</h1>
</div>

<div class="enter-api-key col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="form-group">
        <label class="control-label">Your Username / API Key</label>
        <div class="input-group">
            <input class="form-control" type="text" id="txtAPIKey" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="cmdSaveAPIKey">Save</button>
            </span>
        </div>
        <span id="lblISP"></span>
        @Html.ActionLink("Is this safe?", "Privacy", "Home", null, new { @class = "pull-right" })
    </div>
</div>

<p class="clearfix"></p>

<div class="have-api-key">
    <table class="table table-striped table-hover">
        <tr>
            <th>Measurement</th>
            <th>Current</th>
            <th>Predicted</th>
        </tr>
        <tr>
            <td>Peak Download</td>
            <td id="PeakDownload">...</td>
            <td id="PeakDownloadPredicted">...</td>
        </tr>
        <tr>
            <td>Peak Upload</td>
            <td id="PeakUpload">...</td>
            <td id="PeakUploadPredicted">...</td>
        </tr>
        <tr>
            <td>Peak Total</td>
            <td id="PeakTotal">...</td>
            <td id="PeakTotalPredicted">...</td>
        </tr>
        <tr>
            <td>Off-peak Download</td>
            <td id="OffPeakDownload">...</td>
            <td id="OffPeakDownloadPredicted">...</td>
        </tr>
        <tr>
            <td>Off-peak Upload</td>
            <td id="OffPeakUpload">...</td>
            <td id="OffPeakUploadPredicted">...</td>
        </tr>
        <tr>
            <td>Off-peak Total</td>
            <td id="OffPeakTotal">...</td>
            <td id="OffPeakTotalPredicted">...</td>
        </tr>
        <tr>
            <td>All Download</td>
            <td id="AllDownload">...</td>
            <td id="AllDownloadPredicted">...</td>
        </tr>
        <tr>
            <td>All Upload</td>
            <td id="AllUpload">...</td>
            <td id="AllUploadPredicted">...</td>
        </tr>
        <tr>
            <td>All Total</td>
            <td id="AllTotal">...</td>
            <td id="AllTotalPredicted">...</td>
        </tr>
    </table>
</div>

@section scripts {
    <script>
        var CapSavvyUrl = '@Url.Action("CapSavvy")';
    </script>
    <script src="@Url.Content("~/Scripts/site.js")"></script>
}