@{
    ViewBag.Title = "Home";
}

<div class="enter-api-key col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="form-group">
        <label class="control-label">Your Username / API Key</label>
        <div class="input-group">
            <input class="form-control" type="text" id="txtAPIKey" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="cmdSaveAPIKey">Save</button>
            </span>
        </div>
        <span id="lblISP"></span>
        @Html.ActionLink("Is this safe?", "Privacy", "Home", null, new { @class = "pull-right" })
    </div>
</div>

<p class="clearfix"></p>

<div id="pnlUsageData" style="display: none;">
    <table class="table table-striped table-hover">
        <tr>
            <th>Direction</th>
            <th>Peak <br class="visible-xs" />(Est'd)</th>
            <th>Off-Peak <br class="visible-xs" />(Est'd)</th>
            <th>Total <br class="visible-xs" />(Est'd)</th>
        </tr>
        <tr>
            <td>Download</td>
            <td><span id="PeakDownload">...</span> <br class="visible-xs" />(<span id="PeakDownloadPredicted">...</span>)</td>
            <td><span id="OffPeakDownload">...</span> <br class="visible-xs" />(<span id="OffPeakDownloadPredicted">...</span>)</td>
            <td><span id="AllDownload">...</span> <br class="visible-xs" />(<span id="AllDownloadPredicted">...</span>)</td>
        </tr>
        <tr>
            <td>Upload</td>
            <td><span id="PeakUpload">...</span> <br class="visible-xs" />(<span id="PeakUploadPredicted">...</span>)</td>
            <td><span id="OffPeakUpload">...</span> <br class="visible-xs" />(<span id="OffPeakUploadPredicted">...</span>)</td>
            <td><span id="AllUpload">...</span> <br class="visible-xs" />(<span id="AllUploadPredicted">...</span>)</td>
        </tr>
        <tr>
            <td>Combined</td>
            <td><span id="PeakTotal">...</span> <br class="visible-xs" /><br class="visible-xs" />(<span id="PeakTotalPredicted">...</span>)</td>
            <td><span id="OffPeakTotal">...</span> <br class="visible-xs" />(<span id="OffPeakTotalPredicted">...</span>)</td>
            <td><span id="AllTotal">...</span> <br class="visible-xs" />(<span id="AllTotalPredicted">...</span>)</td>
        </tr>
    </table>
</div>

@section scripts {
    <script>
        var ApiUrl = '@Url.Content("~/api/capsavvy")';
    </script>
    <script src="@Url.Content("~/Scripts/site.js")"></script>
}