@{
    ViewBag.Title = "Privacy";
}

<div class="page-header">
    <h1>Privacy</h1>
</div>

<p>I'm sure you want to know how safe your Username / API key are if you enter them on this site.  And I'm here to tell you, they should be pretty safe.</p>
<p>This site uses <a href="http://en.wikipedia.org/wiki/Web_storage" target="_blank">Web Storage</a> to store your information, which is browser based storage that this site has absolutely no access to.  So I have no way of knowing what your Username / API Key are.*</p>
<p>To request the usage information from your ISP, a secure HTTPS request is made between your browser and your ISPs server.  This site serves up the html/css/js that tells your browser how to request the usage information, and then how to parse it, but it is not involved in making the connection in any way (so none of your data passes through my server).</p>
<p>&nbsp;</p>
<p class="small">* In theory I could add code to the site that causes your Username / API Key to be sent to this site.  I have no interest in doing that, but if it worries you that I could, then you always have the option of cloning this site, auditing the code, and setting it up on your own web server.  I'll be putting the site up on GitHub in the near future to make this cloning process easier.</p>