@{
    ViewBag.Title = "Privacy & Security";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<p>
    I take the privacy of your Username / API Key very seriously, which is why it is not stored on this web server.
    When you enter your Username / API Key and click the Save button, your information is saved using
    <a target="_blank" href="http://en.wikipedia.org/wiki/Web_storage">Web Storage</a>, which is browser based
    storage, so your information is stored on your own PC/tablet/phone/whatever and not on this web server.
    This is so when you come back to the site again, you won't have to re-enter your Username / API Key
    (at least not on the same device -- if you come back from a different device then you'll need to re-enter it).
</p>
<p>
    After the Username / API Key is saved to your browser's Web Storage area, it is then submitted to this
    web server via HTTPS, which means it is encrypted and safe from snooping if you happen to be accessing
    this site from a Tim Hortons or something like that.
</p>
<p>
    This web server will then securely transmit your Username / API Key to your ISP's web server, which will
    reply back with your usage information.  This web server will then manipulate your usage information
    (ie calculate average and predicted values) and display it all to you in your browser.
</p>